---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>
<div id="home">
  <div class="home-content">


    <%= partial "layouts/cards" %>

    <%= image_tag "logo.png", width: "200" %>

    <p class="about">
      <%= link_to "Meet the team", "team.html" %>
    </p>

  </div>
</div>
